/*BASES GENERALES*/
*{
   
    font-family: "https://fonts.googleapis.com/css?family=Caveat";
    /*margin: 15px; margin-top: 20px; margin-bottom: 20px;*/
    
    
}

/*COMPONENTES DE ESTRUCTURA*/
body{
    background-color: burlywood;
    color: black;
}

header{
    
    font-size: 40px;
    font-family: "Brush Script MT";
    
}

main{
    color: black;
}

footer{
    background-color: coral;
}



/*LINKS Y LISTAS*/
a{
    text-decoration: none;
    color: brown;
}

li{
    list-style-type: square;
}


/*LAYOUT*/
/*10*/
.row {
    display: table;
    
    padding: 10px; 
    max-width: 100%; 
    font-style: italic;
}
/*10*/
.column{
    display: table-cell;
    text-align: center;
    padding: 8px;
    border-color: brown;
}
.column:hover,.column:active {
    text-decoration: underline;
}

.logo {
    display: table-cell;
    padding: 8px;

    text-align: center;
    font-style: italic;
    font-size: 50px;

    border-style: solid;
    border-width: 4px;
    border-color: brown;
}
.logo:hover{
    text-decoration: none;
    border-color: darkblue;
}
/*CLASES EXTRA*/

